<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guige.account.mapper.RoleExMapper">
	<resultMap id="BaseResultMap" type="com.guige.account.pojo.entity.Role"
		extends="com.guige.account.mapper.RoleMapper.BaseResultMap">
	</resultMap>
	<select id="findRoles" resultMap="BaseResultMap">
		select
		r.*
		from t_role r
		<trim prefix="where" prefixOverrides="and">
			<if test="uuid != null">
				AND r.uuid = #{uuid,jdbcType=CHAR}
			</if>
			<if test="compUuid != null">
				AND r.comp_uuid = #{compUuid,jdbcType=CHAR}
			</if>
			<if test="roleName != null">
				AND r.role_name = #{roleName,jdbcType=VARCHAR}
			</if>
			<if test="roleUuids != null">
				r.uuid in
				<foreach collection="roleUuids" item="roleUuid" index="index"
					open="(" close=")" separator=",">
					#{roleUuid}
				</foreach>
			</if>
			AND r.delete_flag = '0'
		</trim>
	</select>
	<select id="findRolesByCompUuid" resultMap="BaseResultMap">
		select r.*
		from t_role r
		<trim prefix="where" prefixOverrides="and">
			<if test="compUuid != null">
				AND r.comp_uuid = #{compUuid,jdbcType=CHAR}
			</if>
			AND r.delete_flag = '0'
		</trim>
	</select>
	<select id="getPredefineRoles" resultMap="BaseResultMap">
		select
		r.*
		from t_role r
		where r.comp_uuid ='GLOBAL' and r.role_level = '1' and r.delete_flag='0'
	</select>
	<select id="getEmplRoles" resultType="com.guige.account.pojo.entity.Role">
		select
		r.*
		from t_role r
		where r.comp_uuid ='GLOBAL' and r.role_level = '5' and r.delete_flag='0'
	</select>

	<update id="deleteRole">
		update t_role
		<set>
			delete_flag = '1',
			delete_time = #{deleteTime,jdbcType=TIMESTAMP},
			delete_user = #{deleteUser,jdbcType=CHAR},
			update_time = #{updateTime,jdbcType=TIMESTAMP},
			update_user = #{updateUser,jdbcType=CHAR}
		</set>
		where uuid in
		<foreach collection="roleUuids" item="roleUuid" index="index"
			open="(" close=")" separator=",">
			#{roleUuid}
		</foreach>
	</update>
</mapper>